<template>
    <div>
        <section class="about" data-aos="fade-up">
            <div class="container">
                <div class="card">
                    <div class="row">
                        <div class="col-lg-6">
                            <img src="assets/general/img/contact/admin.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="col-lg-6 pt-4 pt-lg-4">
                            <h3>ติดต่อ</h3>
                            <p>
                                ทำการ วันจันทร์ - วันศุกร์ เวลา 09.00-16.00 น.
                            </p>
                            <ul>
                                <li><i class="icofont-user-alt-3"></i> นางสาวกนกพร นวลอึ่ง (พี่นก) </li>
                                <li><i class="icofont-phone-circle"></i> 094-1930650 </li>
                                <li><i class="icofont-home"></i> สถาบันภาษา ศิลปะและวัฒนธรรม มหาวิทยาลัยราชภัฏสกลนคร <br />
                                เลขที่ 680 ถนนนิตโย ต. ธาตุเชิงชุม อำเภอเมือง จังหวัดสกลนคร 47000 </li>
                            </ul>
                            <!-- <p>
                                Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                                reprehenderit in voluptate
                                velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                proident, sunt in
                                culpa qui officia deserunt mollit anim id est laborum
                            </p> -->
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End About Section -->
    </div>
</template>

<script>
    export default {}

</script>

<style lang="scss" scoped>

</style>
