<template>
    <div>
        <div class="container">
            <h2>ข้อมูล</h2>
            <table class="table">
                <caption>List of users</caption>
                <thead>
                     <tr>
                    <th class="table-active">...</th>

                    <th class="table-primary">...</th>
                    <th class="table-secondary">...</th>
                    <th class="table-success">...</th>
                    <th class="table-danger">...</th>
                    <th class="table-warning">...</th>
                    <th class="table-info">...</th>
                    <th class="table-light">...</th>
                    <th class="table-dark">...</th>
                </tr>
                </thead>
                    <td class="table-info">asd</td>
                    <td class="table-info">asd</td>
                    <td class="table-info">asd</td>
                    <td class="table-info">asd</td>
                    <td class="table-info">asd</td>
                    <td class="table-info">asd</td>
                    <td class="table-info">asd</td>
                    <td class="table-info">asd</td>
                    <td class="table-info">asd</td>

            </table>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            this.getUserData()
        },
        methods:{
            getUserData(){
                console.log("ดึงข้อมูล");
            }
        }
    }

</script>

<style lang="scss" scoped>

</style>
